<h2 mat-dialog-title id="title">Login</h2>
<mat-dialog-content>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div>
            <mat-form-field class="login-dialog-form" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" name="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="login-dialog-form" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" name="password">
            </mat-form-field>
        </div>
        <div class="fail">{{failMessage}}</div>
        <div>
            <button mat-raised-button type="submit" color="primary" class="but">Login</button>
            <button mat-stroked-button mat-dialog-close class="but">Cancel</button>
        </div>
    </form>
</mat-dialog-content>