<h2 mat-dialog-title id="title">Login</h2>
<mat-dialog-content>
    <form (ngSubmit)="onSubmit()">

        <div>
            <mat-form-field class="login-dialog-form" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" [formControl]="emailControl" name="email">
                <mat-error *ngIf="emailControl.hasError('email')">invalid email</mat-error>
                <mat-error *ngIf="emailControl.hasError('required')">email required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="login-dialog-form" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" type="password" [formControl]="passwordControl" name="password">
                <mat-error *ngIf="passwordControl.hasError('required')">password password</mat-error>
                <mat-error *ngIf="passwordControl.hasError('minLength')">invalid password</mat-error>
            </mat-form-field>
        </div>
        <div class="fail">{{failMessage}}</div>
        <div>
            <button mat-raised-button type="submit" color="primary" class="but">Login</button>
            <button mat-stroked-button mat-dialog-close class="but">Cancel</button>
        </div>
    </form>
</mat-dialog-content>
