.login-dialog-form {
    width: 100%;
}

.mat-raised-button {
    margin-left: 3%;
}

.fail {
    color: red;
    margin-bottom: 2%;
}

.but {
    margin-left: 2%;
}

#title {
    text-align: center;
}

.login-dialog-form {
    margin-bottom: 2%;
}