<mat-toolbar color="primary">  
    <button mat-mini-fab color="secondary" aria-label="Delete button" (click)="sidenav.toggle()">
        <mat-icon aria-hidden="false" aria-label="Home icon">list</mat-icon>
    </button>
    <span style="margin-left: 2%;">Student Teams!</span>
</mat-toolbar>
<mat-toolbar>Applicazioni Internet</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <div class="container">
            <mat-nav-list>
                <mat-list-item role="listitem">Course 1</mat-list-item>
                <mat-list-item role="listitem">Course 2</mat-list-item>
                <mat-list-item role="listitem">Course 3</mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-students-cont></app-students-cont>
    </mat-sidenav-content>
  </mat-sidenav-container>